In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import sys
import random
from pprint import pprint

In [40]:
df = pd.read_csv("file2.csv")

In [41]:
df.head()

,Unnamed: 0,date,retail_and_recreation,residential,transit_stations,parks,workplaces,iso_code,continent,location,...,new_tests,total_tests,total_tests_per_thousand,new_tests_per_thousand,new_tests_smoothed,new_tests_smoothed_per_thousand,positive_rate,tests_per_case,tests_units,stringency_index
0,32,2020-03-20,-13.000,4.143,-10.286,-5.857,-7.143,IND,Asia,India,...,1060.0,14376.0,0.010,0.001,1125.0,0.001,0.021,48.6,samples tested,70.83
1,33,2020-03-21,-16.286,4.714,-12.714,-8.286,-8.857,IND,Asia,India,...,1325.0,15701.0,0.011,0.001,1125.0,0.001,0.029,34.5,samples tested,76.39
2,34,2020-03-22,-25.857,7.286,-21.714,-15.714,-16.143,IND,Asia,India,...,1298.0,16999.0,0.012,0.001,1121.0,0.001,0.036,27.7,samples tested,100.00
3,35,2020-03-23,-32.429,9.714,-28.286,-20.571,-22.714,IND,Asia,India,...,3708.0,20707.0,0.015,0.003,1462.0,0.001,0.037,26.9,samples tested,86.57
4,36,2020-03-24,-40.571,12.857,-36.143,-26.571,-30.857,IND,Asia,India,...,157.0,20864.0,0.015,0.000,1295.0,0.001,0.043,23.0,samples tested,86.57

In [42]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 33 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Unnamed: 0                       418 non-null    int64
 1   date                             418 non-null    object
 2   retail_and_recreation            418 non-null    float64
 3   residential                      418 non-null    float64
 4   transit_stations                 418 non-null    float64
 5   parks                            418 non-null    float64
 6   workplaces                       418 non-null    float64
 7   iso_code                         418 non-null    object
 8   continent                        418 non-null    object
 9   location                         418 non-null    object
 10  total_cases                      418 non-null    float64
 11  new_cases                        418 non-null    float64
 12  new_cases_smoothed               418 non-null    float64
 13  total_deaths                     418 non-null    float64
 14  new_deaths                       418 non-null    float64
 15  new_deaths_smoothed              418 non-null    float64
 16  total_cases_per_million          418 non-null    float64
 17  new_cases_per_million            418 non-null    float64
 18  new_cases_smoothed_per_million   418 non-null    float64
 19  total_deaths_per_million         418 non-null    float64
 20  new_deaths_per_million           418 non-null    float64
 21  new_deaths_smoothed_per_million  418 non-null    float64
 22  reproduction_rate                418 non-null    float64
 23  new_tests                        418 non-null    float64
 24  total_tests                      418 non-null    float64
 25  total_tests_per_thousand         418 non-null    float64
 26  new_tests_per_thousand           418 non-null    float64
 27  new_tests_smoothed               418 non-null    float64
 28  new_tests_smoothed_per_thousand  418 non-null    float64
 29  positive_rate                    418 non-null    float64
 30  tests_per_case                   418 non-null    float64
 31  tests_units                      418 non-null    object
 32  stringency_index                 418 non-null    float64
dtypes: float64(27), int64(1), object(5)
memory usage: 107.9+ KB

In [43]:
df.drop(columns = ['Unnamed: 0','date','iso_code','continent','location','tests_units'], inplace = True)

In [44]:
df.head()

,retail_and_recreation,residential,transit_stations,parks,workplaces,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,...,reproduction_rate,new_tests,total_tests,total_tests_per_thousand,new_tests_per_thousand,new_tests_smoothed,new_tests_smoothed_per_thousand,positive_rate,tests_per_case,stringency_index
0,-13.000,4.143,-10.286,-5.857,-7.143,244.0,50.0,23.143,5.0,1.0,...,2.07,1060.0,14376.0,0.010,0.001,1125.0,0.001,0.021,48.6,70.83
1,-16.286,4.714,-12.714,-8.286,-8.857,330.0,86.0,32.571,4.0,-1.0,...,2.12,1325.0,15701.0,0.011,0.001,1125.0,0.001,0.029,34.5,76.39
2,-25.857,7.286,-21.714,-15.714,-16.143,396.0,66.0,40.429,7.0,3.0,...,2.12,1298.0,16999.0,0.012,0.001,1121.0,0.001,0.036,27.7,100.00
3,-32.429,9.714,-28.286,-20.571,-22.714,499.0,103.0,54.286,10.0,3.0,...,2.11,3708.0,20707.0,0.015,0.003,1462.0,0.001,0.037,26.9,86.57
4,-40.571,12.857,-36.143,-26.571,-30.857,536.0,37.0,56.286,10.0,0.0,...,2.09,157.0,20864.0,0.015,0.000,1295.0,0.001,0.043,23.0,86.57

In [45]:
x = df.drop(columns = ['new_cases'])
y = df['new_cases']

In [46]:
from sklearn.model_selection import train_test_split

In [47]:
X_train, X_test, y_train, y_test = train_test_split(x,y,test_size=0.2)

In [48]:
X_train, X_valid, y_train, y_valid = train_test_split(X_train,y_train,test_size=0.2)

In [68]:
y_train = y_train.reshape(-1,1)
y_valid = y_valid.reshape(-1,1)
y_test = y_test.reshape(-1,1)

AttributeError: 'Series' object has no attribute 'reshape'

In [49]:
from sklearn.preprocessing import MinMaxScaler

In [50]:
scaler = MinMaxScaler()

In [51]:
X_train = scaler.fit_transform(X_train)

In [52]:
X_valid = scaler.transform(X_valid)

In [69]:
from sklearn.svm import SVR

In [70]:
regressor = SVR(kernel = 'rbf')

In [71]:
regressor.fit(X_train, y_train)

SVR()

In [72]:
prediction = regressor.predict(X_valid)

In [73]:
MSE = np.square(np.subtract(y_valid,prediction)).mean()   
rsme = math.sqrt(MSE)  
print(rsme)

93442.36116937666

In [63]:
model = SVC(kernel = 'poly', degree = 3, C = 0.1, coef0 = 0.0, gamma = 1, max_iter = -1, shrinking = True,
            tol = 0.001, verbose = False)

In [64]:
model.fit(X_train, y_train)

SVC(C=0.1, gamma=1, kernel='poly')

In [65]:
predictions = model.predict(X_valid)

In [66]:
import math

In [67]:
MSE = np.square(np.subtract(y_valid,predictions)).mean()   
rsme = math.sqrt(MSE)  
print(rsme)

11008.925700295504